Repository marciorasf/python-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, vulture, bandit

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: black
        name: Format code with black
        entry: poetry run black
        pass_filenames: true
        types: [python]
        language: system

      - id: flake8
        name: Check style with flake8
        entry: poetry run flake8
        pass_filenames: true
        types: [python]
        language: system

      - id: mypy
        name: Typecheck with mypy
        entry: poetry run mypy .
        pass_filenames: false
        types: [python]
        language: system

      - id: pytest
        name: Run tests with pytest
        entry: poetry run pytest --random-order --cov=sample --cov-report=term --cov-fail-under=90
        pass_filenames: false
        language: system

      - id: vulture
        name: Check dead code with vulture
        entry: poetry run vulture .
        pass_filenames: false
        types: [python]
        stages: [push]
        language: system

      - id: bandit
        name: Check security flaws with bandit
        entry: poetry run bandit
        pass_filenames: true
        types: [python]
        exclude: tests
        stages: [push]
        language: system

Remove flake8-spellcheck.
  poetry.lock
  pyproject.toml
Due: none

Add isort.
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Update to Python 3.10.
  .flake8
  poetry.lock
  pyproject.toml
Due: none

Configure vulture.
  .pre-commit-config.yaml
Due: none

Remove deps.
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Improve mypy performance.
  .pre-commit-config.yaml
  run_mypy.sh
Due: none

Add names to pre-commit.
  .pre-commit-config.yaml
Due: none

Rename things.
  pyproject.toml
  src/__init__.py
  src/main.py
  tests/test_main.py
Due: black, flake8, mypy, vulture, bandit

Use ruff.
  .flake8
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Update dependencies.
  mypy.ini
  poetry.lock
  pyproject.toml
  tests/test_main.py
Due: black, flake8, mypy, vulture
